<div class="card mt-3 post">
    <div class="row card-header">
        <div class="col-md-2">
            <a href="{{ path('user_profile', {'id':post.userId.id}) }}">
                <img alt="" class="card-img"
                     src="https://fakeimg.pl/440x320/">
            </a>
        </div>
        <div class="col-md-10 text-center">
            {{ post.userId.pseudo }}
        </div>
    </div>
    <div class="row card-body">
        <div class="col-md-2">
            <a href="{{ path('post_single', {'id':post.id}) }}">
                <img src="https://fakeimg.pl/440x320/" alt="" class="card-img avatar">
            </a>
        </div>
        <div class="col-md-10">
            {{ post.content }}
        </div>
    </div>
    <div class="card-footer post-footer">
        <div class="row justify-content-between text-muted">
            <div class="">
                <i class="fas fa-heart"></i><span> Likes</span>
                <i class="fas fa-comment-alt"></i><span> Comments</span>
            </div>
            <span>publié il y a {{ post.publishedAt.format('d-m-Y') }}</span>
        </div>
    </div>
</div>